{% extends "base.html" %}

{% block content %}
    <div class="posts">
        <h1 class="content-subhead">Recent Posts</h1>

        {% for post in posts %}
          {% set post_url = url_for('posts.detail', slug=post.slug) %}
          <section class="post">
            <header class="post-header">
                <img class="post-avatar" alt="author avatar" height="48" width="48" src="img/common/ericf-avatar.png">

                <h2 class="post-title"><a href="{{ post_url }}">{{ post.title }}</a></h2>

                <p class="post-meta">
                    By <a class="post-author" href="#">Eric Ferraiuolo</a> at <strong>{{ post.created_at.strftime('%Y-%m-%d') }}</strong> under <a class="post-category post-category-3" href="#">JavaScript</a>

                    {% with total=post.comments|length %}
                        <a href="{{ post_url }}#disqus_thread"><i class="fa fa-comment"></i> {{ total }} comment {% if total > 1 %}s{% endif %}</a>
                    {% endwith %}
                </p>
            </header>

            <div class="post-description">
                <p>
                    {{ post.content|truncate(100)|markdown }}
                </p>
            </div>
        </section>

        <hr>
        {% endfor %}
    </div>
{% endblock %}

{% block footer %}
 <div class="footer">
    <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">
              <button class="pure-button">
                <i class="fa fa-arrow-left"></i>
                  Previous
              </button></a>
            </li>
            <li class="pure-menu-item"><a href="/" class="pure-menu-link">
              <button class="pure-button">
                <i class="fa fa-home"></i>
                  Home
              </button></a>
            </li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">
              <button class="pure-button">
                <i class="fa fa-arrow-right"></i>
                  Next
              </button></a>
            </li>
        </ul>
    </div>
</div>
{% endblock footer %}
